# -----------------------------
# OS
# -----------------------------

.DS_Store
*~

# -----------------------------
# Editors
# -----------------------------

.vscode/
.idea/

*.swp
*.swo

# -----------------------------
# Logs
# -----------------------------

*.log

# -----------------------------
# Local config
# -----------------------------

config/zsh/local.zsh

# -----------------------------
# SSH Keys
# -----------------------------

config/ssh/id_*
*.pem
